<!-- Generated template for the GrillaDisponibilidadComponent component -->

<div class="row header">
  <div class="col" text-nowrap>hora</div>
  <div class="col" *ngFor="let dia of dias" text-nowrap>{{dia.nombre}}</div>
</div>
<div class="content">
<div class="row" *ngFor="let hora of horas">
  <div class="col">{{hora}}</div>
  <div class="col" *ngFor="let dia of dias">
    <ion-checkbox [(ngModel)]="Defaultdisponibilidad[dia.id][hora]" mode="ios"></ion-checkbox>
  </div>
</div>
</div>

<button ion-button block (click)="clickBoton()">Guardar</button>

<!-- <div id="top">
  <h1>Fixed content</h1>
  <h2>I like it here at the top and here I will stay</h2>
</div>
<div id="content">
  <h1>Content</h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div> -->
