page-mi-cuenta {
  ion-content {
    background: linear-gradient(0deg, #eeeef1 0%, white 80%, white 100%);
  }

  #profile-info p{
    font-size: 10px;
    color: #444;
  }

  // Cover image
  #profile-bg {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -16px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  // Profile content
  #content {
    position: relative;
    margin-top: 150px;
    padding-top: 120px;
    text-align: center;
  }

  #profile-image {
    display: block;
    border-radius: 50%;
    width: auto;
    height: 100px;
    margin: 0 auto;
    box-shadow: 0 11px 20px -3px rgba(142, 136, 146, 0.75);
  }

  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
  }

  #profile-name {
    color: #444;
    font-size: 20px;
  }

  .profile-description {
    font-size: 15px;
    color: #888;
  }

// estilo ventana modal
ion-modal,
 .show-page {
   // transparent black background overlay
   background-color: rgba(0, 0, 0, .5) !important;
   padding: 50px !important;
 }
 .toolbar-background {
   color: red !important;
 }
 ion-modal.modal-wrapper {
   transform: translateY(30%) !important;
 }
 ion-page.modal {
   padding: 30px;
   background: rgba(0, 0, 0, 0.5);
 }
 .modal-backdrop-bg {
   background-color: #000;
   opacity: 0;
 }
 .active .modal-backdrop-bg {
   opacity: 0.5;
 }

 // rating
 rating{
  font-size: 1em;
  color: orange;
}

rating ul{
  padding-left: 0px;
  margin: 0px;
}
rating ul li{
padding: 1px !important;
}
.insignia{
  color:purple;
  font-size: 1em;
}

}

// estilo ventana modal
ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}
